<div class="fighter-button">
  <%= link_to @fight.new_record? ? fights_path(fighter_id: fighter.id) : fight_path(@fight, fighter_id: fighter.id), method: @fight.new_record? ? "post" : "patch" do %>
    <%= image_tag fighter.image ? image_url(fighter.image) : blank_image, size: "100x100", class: "nes-avatar is-bordered is-large pick-fighter fighter-#{fighter.id}" %>
  <% end %>
  <div>
    LP: <%= fighter.life_points %>
    <br>
    AP: <%= fighter.attack_points %>
  </div>
</div>
