<section class="nes-container with-title">
  <h3 class="title">Latest fights</h3>
  <% @latest_fights.each do |fight| %>
    <p><%= fight.updated_at.to_date.to_s(:medium) %> - <%= fight.winner&.name %> won against <%= fight.loser&.name %>!</p>
  <% end %>
</section>
