@import 'nes.css/css/nes.min';

// Global

body {
  padding: 40px;
}

img {
  image-rendering: pixelated;
}

.align-center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.top {
    justify-content: center;
    align-items: flex-start;
  }
}

// Layout

.nes-container {
  margin-bottom: 40px;
}

.nes-avatar.is-large {
  display: inline-block;
  width: 128px;
  height: 128px;
  &.is-bordered {
    border: 4px solid black;
    margin: 4px;
  }
}

.nes-field {
  margin-bottom: 40px;
}

.fight {
  .fight__versus {
    margin-bottom: 10px;

    .vs {
      margin-left: 20px;
      margin-right: 20px;
      line-height: 132px;
    }
  }
}

.fighter-button {
  text-align: center;

  .fighter-button__stats {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.fight-step {
  .fight-step__description {
    margin-bottom: 40px;
  }
  
  .fight-step__result {
    margin-bottom: 40px;
  }

  .fight-step__hand {
    font-size: 64px;
  }
}
